<div class="container mt-5">
  <div class="jumbotron text-justify">
    <h1 class="display-4 text-center">Welcome back, {{fullName}}!</h1>
    <hr class="my-4">
    <p class="lead text-center">
      <a class="btn btn-success btn-lg" href="https://sdee3.com/cryptinvest/dashboard" role="button">Go To Your Dashboard</a>
    </p>
  </div>
</div>