<div class="alert alert-danger m-5" role="alert">
  <p>There was an error while logging you in. This error was caused because:</p>
  <ul>
    <li>Your account is either pending or rejected by our moderators</li>
    <li>You haven't registered yet</li>
  </ul>
  <a class="btn btn-outline-success btn-lg"  role="button" href="https://sdee3.com/cryptinvest">Back To CryptInvest Homepage</a>
</div>