<div class="alert alert-danger m-5" role="alert">
  <p>There was an error while registering you. This error was caused because:</p>
  <ul>
    <li>Your account's username or email is already taken</li>
  </ul>
  <a class="btn btn-outline-success btn-lg"  role="button" href="https://sdee3.com/cryptinvest">Back To CryptInvest Homepage</a>
</div>