<div class="container mt-5">
  <div class="jumbotron text-justify">
    <h1 class="display-4 text-center">Hello, user!</h1>
    <p class="lead text-center">Thank you for your registration!</p>
    <hr class="my-4">
    <p>Your data has been forwarded to our server successfully. Your account is now undergoing the process of verification, so please be patient.</p>
    <p>You will receive a confirmational e-mail as soon as your account is either verified or rejected. From that moment onward, you will be able to use the login option at any moment.</p>
    <p class="lead text-center">
      <a class="btn btn-success btn-lg" href="https://sdee3.com/cryptinvest" role="button">Back to CryptInvest Homepage</a>
    </p>
  </div>
</div>